# Streamlit
.streamlit/secrets.toml

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env
.venv

# Données
*.csv
*.json
*.pkl
*.joblib
*.npy
*.zip
*.md

# Logs
logs/
*.log

# IDE
.vscode/
.idea/
*.swp
*.swo

# Système
.DS_Store
Thumbs.db

# Model
*.safetensors